services:
  priv-ingest:
    image: priv
    restart: unless-stopped
    command: deno run -A src/ingest.ts
    volumes:
      - "./data:/app/data"

  priv-server:
    image: priv
    restart: unless-stopped
    command: deno serve -A --parallel --port 80 src/serve.ts
    volumes:
      - "./data:/app/data"
    ports:
      - "127.0.0.1:8080:80"
